{% extends "homepage.html" %} {% block titulo %} Criar conta - FakePinterest {%
endblock %} {% block formulario %}
<form method="POST" class="popup">
  {{ form.csrf_token }}

  <h2>Bem-vindo(a) ao FakePinterest</h2>

  <div class="div-input">
    {{ form.email.label(class="label") }} 
    
    {% if form.email.errors %}
      {% for error in form.email.errors %}
        <p style="color: red;">{{ error }}</p>
      {% endfor %}
    {% endif %}

    {{ form.email(class="input", placeholder="Email:") }}
  </div>
  <div class="div-input">
    {{ form.username.label(class="label") }} 
    {% if form.username.errors %}
      {% for error in form.username.errors %}
        <p style="color: red;">{{ error }}</p>
      {% endfor %}
    {% endif %}
    {{ form.username(class="input", placeholder="Nome de usuário:") }}
  </div>
  <div class="div-input">
    {{ form.senha.label(class="label") }} 
    {% if form.senha.errors %}
      {% for error in form.senha.errors %}
        <p style="color: red;">{{ error }}</p>
      {% endfor %}
    {% endif %}
    {{ form.senha(class="input", placeholder="Senha:") }}
  </div>
  <div class="div-input">
    {{ form.confirmacao_senha.label(class="label") }} 
    {% if form.confirmacao_senha.errors %}
      {% for error in form.confirmacao_senha.errors %}
        <p style="color: red;">{{ error }}</p>
      {% endfor %}
    {% endif %}
    
    {{ form.confirmacao_senha(class="input", placeholder="Confirme a senha:") }}
  </div>
  <div class="div-botao">
    {{ form.botao_confirmacao(class="botao-login") }}
    <a href="{{ url_for('homepage') }}" class="link-criarconta"
      >Já tem uma conta? Faça login</a
    >
  </div>
</form>
{% endblock %}
