<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
        FakePinterest
        {% endblock %}
    </title>
</head>
{% block corpo %}
<body>
    Meu primeiro site com Flask!

    {% block formulario %}
    <form method="POST">
        {{ form.csrf_token }}

        {{ form.email.label() }} {{ form.email() }}

        {{ form.senha.label() }} {{ form.senha() }}
        
        {{ form.botao() }}
    </form>
    {% endblock %}
</body>
{% endblock %}
</html>